body{
    margin:0px;
}
.carrusel{
    width: 100%; /* Ocupe todo el ancho de la pagina */
    overflow: scroll; /* Movernos */
    padding: 30px;/* No comience pegado a la pagina si no que comience con una cierta distancia */
    position: relative; /* Los hijos de este se posicionen dependiendo del padre */
}
.carrusel__container{
    white-space: nowrap; /* Esta propiedad es para que los elementos no queden uno por debajo del otro */
    margin: 70px 0px;
    padding-bottom: 37px;
    padding-top: 37px;
    
}
.carrusel-item{
    background: blue;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    
    /* Los elementos por defecto tienen un block entonces cada elemento se coloca uno por debajo del otro , le cambiamos el display*/
    display:inline-block ;
    margin-right:10px;/* Distancia entre cada uno de los items */
    cursor: pointer;/* Es cuando estemos dentro de cada uno de los items el puntero cambie  */
    transition: 450ms all; /* Para que cada vez que hagamos hover se ponga mas lenta */
    transform-origin: center left;/* Si no colocamos esta linea se sale el primer elemento  */
    position: relative; /* Para que los iconos queden dentro del contenedor de la imagen y no arriba */

}
/* La virguliña funciona para cuando no este con el hover */
.carrusel-item:hover ~ .carrusel-item {
    transform:translate3d(100px,0,0);/* Esto permite que todos los elementos se desplacen a la derecha */
    /* display:inline-block ; */

}

/* Cuando me pose sobre uno los otros se pongan mas opacos */
.carrusel__container:hover .carrusel-item {
    opacity: 0.3;
}
/* Cuando este en hover el container y tambien el item , el item que esta en hover cambie de opacidad  */
.carrusel__container:hover .carrusel-item:hover{ 
    transform: scale(1.5); /* Aumente el tamaño en 1.5 */
    opacity: 1;
    
}

.carrusel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;/* Para que la imagen recupere su tamaño original */
}
.carrusel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px; /* Los textos no esten tan juntos  */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}